@import "reset";

#grow {
  background-color: aqua;
  width: 200px;
  height: 200px;
}

#moving {
  background-color: cornflowerblue;
  width: 10vw;
  height: 10vw;
}

section {
  display: flex;
  margin: 30px;

  .section__btn {
    background-color: coral;
    width: 200px;
    height: 60px;
    margin: 40px 30px;
  }
}

