@import 'reset';

$slideNum: 5;
$btnHeight: 40px;
$slideTransitionTime: 1s;

#slider {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .panel {
    width: calc(100% * $slideNum);
    height: 100%;

    > div {
      width: calc(100% / $slideNum);
      height: 100%;
      float: left;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;

      font-size: 50px;
      color: #ffffff;

      @for $i from 1 through $slideNum { /* 1...5 */
        &:nth-of-type(#{$i}) {
          background-image: url("../img/pic#{$i}.jpg");
        }
      }
    }
  }

  #ring {
    position: absolute;
    top: 50%;
    margin-top: -160px; /* image size: 320x320 */
    right: -160px;
    transition: $slideTransitionTime;

    @for $i from 0 to $slideNum { /* 0..<5 */
      &.rot#{$i} {
        transform: rotate($i * 60deg); /* 링에 원은 5개지만 한 칸이 비어있어서 실제로 6개 기준으로 6등분 되어있다. */
      }
    }
  }

  .btn {

    width: 90%;
    height: $btnHeight;
    position: absolute;
    bottom: 50px;
    left: 5%;
    display: flex;
    justify-content: space-between;
    perspective: 800px;
    gap: 20px;
  }

  li {
    width: 18%;
    height: 100%;
    border-radius: $btnHeight / 2;
    border: 1px solid #222;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: $slideTransitionTime;

    &.on {
      background: #222;
      color: #fff;
      transform: rotateY(360deg);
    }
  }
}
