@import 'reset';

$slideNum: 5;

#slider {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .panel {
    width: calc(100% * $slideNum);
    height: 100%;

    > div {
      width: calc(100% / $slideNum);
      height: 100%;
      float: left;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-attachment: fixed;

      font-size: 50px;
      color: #ffffff;

      @for $i from 1 through $slideNum {
        &:nth-of-type(#{$i}) {
          background-image: url("../img/pic#{$i}.jpg");
        }
      }
    }
  }

  $btnHeight: 40px;

  .btn {

    width: 90%;
    height: $btnHeight;
    position: absolute;
    bottom: 50px;
    left: 5%;
    display: flex;
    justify-content: space-between;
    perspective: 800px;
    gap: 20px;
  }

  li {
    width: 18%;
    height: 100%;
    border-radius: $btnHeight / 2;
    border: 1px solid #222;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;

    &.on {
      background: #222;
      color: #fff;
      transform: rotateY(360deg);
    }
  }
}
