@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .5s;

  &.on {
    opacity: 1;
  }
}

#wrap {
  width: 100%;
  padding: 50px;
  overflow: hidden;

  #list {
    opacity: 0;
    transform: translateY(100px);
    transition: 1s;

    &.on {
      opacity: 1;
      transform: translateY(0);
    }

    /* float 을 부모 태그에 가두기 위해 부모에서 float 을 clear 해주는 상용구
    https://sbpark88.github.io/css/2023/03/01/basic-css-part1.html#h-1-float--clear 참고
    */
    &::after {
      content: '';
      display: block;
      clear: both; /* clear 가 float 보다 위에 와야하나? 아래가 아니고? */
    }

    li {
      width: calc(100% / 5);
      float: left;
      padding: 10px;

      > div {
        width: 100%;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);

        img {
          width: 100%;
        }

        p {
          font: 18px/1.2 'Architects Daughter';
          color: #777;
          margin-top: 10px;
          margin-bottom: 20px;
          word-break: break-all;
        }
      }
    }
  }
}

$images: ("300px": 1, "600px": 2, "900px": 3, "1200px": 4);

@each $screenWidth, $imageCount in $images {
  @media screen and (min-width: $screenWidth) {
    #wrap {
      #list {
        li {
          width: calc(100% / $imageCount);
        }
      }
    }
  }
}
