@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredericka+the+Great&family=Gamja+Flower&display=swap');

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity .5s;

  &.on {
    opacity: 1;
    z-index: 100;
  }
}

h1 {
  padding: 80px 50px 0;
  font: normal 100px/1.2 'Fredericka the great';
}

#searchBox {
  padding: 50px 60px 0;
  font-size: 0; /* 검색어 창과 우측 버튼을 붙이기 위함 */
  position: relative;

  input[type="text"] {
    width: 300px;
    height: 30px;
    background: #fff;
    border: 1px solid #ddd;
    padding-left: 10px;
  }

  #btnSearch,
  #btnInterest {
    width: 80px;
    height: 29px;
    background-color: #333;
    border: none;
    color: #fff;
    font: bold 12px 'arial';
    text-align: center;
    cursor: pointer;
  }

  #btnInterest {
    width: 200px;
    margin-left: 20px;
  }

}

#wrap {
  width: 100%;
  padding: 50px;
  overflow: hidden;

  #list {
    opacity: 0;
    transform: translateY(100px);
    transition: 1s;

    &.on {
      opacity: 1;
      transform: translateY(0);
    }

    /* float 을 부모 태그에 가두기 위해 부모에서 float 을 clear 해주는 상용구
    https://sbpark88.github.io/css/2023/03/01/basic-css-part1.html#h-1-float--clear 참고
    */
    &::after {
      content: '';
      display: block;
      clear: both; /* clear 가 float 보다 위에 와야하나? 아래가 아니고? */
    }

    li {
      width: calc(100% / 5);
      float: left;
      padding: 10px;

      > div {
        width: 100%;
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 5px 5px 20px rgba(0, 0, 0, .5);

        .pic {
          width: 100%;
        }

        p {
          font: 18px/1.2 'Architects Daughter', 'Gamja Flower';
          color: #777;
          margin-top: 10px;
          margin-bottom: 20px;
          word-break: break-all;
        }

        .profile {
          display: flex;
          gap: 10px;
          align-items: end;
          img {
            width: 40px;
          }
          .userId {
            cursor: pointer;
            color: orange;
            font-size: 15px;
            &:hover {
              color: aqua;
            }
          }
        }
      }
    }
  }
}

$images: ("300px": 1, "600px": 2, "900px": 3, "1200px": 4);

@each $screenWidth, $imageCount in $images {
  @media screen and (min-width: $screenWidth) {
    #wrap {
      #list {
        li {
          width: calc(100% / $imageCount);
        }
      }
    }
  }
}
