@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

main {
  $boxTop: 40%;
  $boxLeft: 40%;
  $boxWidth: 15vw;
  $boxHeight: 40vh;
  $panelCount: 8;

  width: 100%;
  height: 100vh;
  background: #111;
  position: relative;
  overflow: hidden;

  .list {
    li {
      width: $boxWidth;
      height: $boxHeight;
      position: absolute;
      top: $boxTop;
      left: $boxLeft;
      z-index: 3;
      padding: 20px;
      transition: 1s cubic-bezier(.44, -.3, .42, .95);

      .inner {
        width: 100%;
        height: 100%;
        background: #333;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
        overflow: hidden;
        display: flex;
        align-items: center;
        transition: 1s;

        h2 {
          font: bold 20px/1 'teko';
          color: #888;
          letter-spacing: 1px;
          transition: .5s .5s;
        }

        &::before {
          content: '';
          display: block;
          width: 20px;
          height: 3px;
          background: #888;
          margin-bottom: 10px;
          transition: .5s;
        }
      }
    }

    // 순서별 li 위치 및 크기
    // 1번: 사라진 패널, 2번: 현재 활성화 패널, 3번 ~ : 대기중 패널
    li:nth-of-type(1) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      opacity: 0;
      z-index: 1;
      transform: scale(2);
    }

    // 2번은 앞으로 활성화 될 패널
    li:nth-of-type(2) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 0;
      z-index: 2;
      transform: scale(1);

      .inner {
        background: #222;
        border-radius: 0;
        box-shadow: none;
        padding: 5vw;

        h2 {
          color: #fff;
          font-size: 8vw;

          &::before {
            background: #fff;
            height: 6px;
            width: 6vw;
            margin-bottom: 20px;
          }
        }
      }
    }

    @for $i from 3 through $panelCount {
      li:nth-of-type(#{$i}) {
        left: calc($boxLeft + $boxWidth * ($i - 3));
        transition-delay: (0.1 * ($i - 3)) s;
      }
    }
  }

  .navi {
    $arrowWidth: 20px;
    $arrowHeight: 2px;
    $arrowPadding: 10px;
    $topCenter: 50%;

    position: absolute;
    width: 100%;
    z-index: 4;
    top: calc($boxTop + $boxHeight + 20px);

    .prev,
    .next {
      display: inline-block;
      width: 70px;
      height: 70px;
      border-radius: $topCenter;
      border: 1px solid #bbb;
      cursor: pointer;

      &.on {
        animation: .5s navigation-clicked;
      }

      @keyframes navigation-clicked {
        0% {
          scale: 1;
          background-color: (0, 0, 0, 0);
        }

        70% {
          scale: 1.5;
          background-color: #666; /* 이상하게 여기에 rgba 는 안 먹힌다. */
        }

        100% {
          scale: 1;
          background-color: (0, 0, 0, 0);
        }
      }

      &::before,
      &::after {
        content: '';
        width: $arrowWidth;
        height: $arrowHeight;
        background-color: #fff;
        position: absolute;
        top: $topCenter;
      }

      &::before {
        rotate: -45deg;
      }

      &::after {
        rotate: 45deg;
      }

      span {
        width: $arrowWidth;
        height: $arrowHeight;
        background: #fff;
        position: absolute;
        top: $topCenter;
      }
    }

    .prev {
      position: absolute;
      left: 40%;

      &::before,
      &::after {
        left: $arrowPadding;
        transform-origin: left;
      }

      span {
        left: $arrowPadding;
      }

      &.on {
        span {
          animation: prevArrow 0.5s 1;
        }

        @keyframes prevArrow {
          0% {
            left: 25px;
            width: 20px;
            opacity: 1;
          }
          70% {
            left: -30px;
            width: 50px;
            opacity: 0;
          }
          71% {
            left: 100px;
            width: 120px;
            opacity: 0;
          }
          100% {
            left: 25px;
            width: 20px;
            opacity: 1;
          }
        }
      }
    }

    .next {
      position: absolute;
      right: 40%;

      &::before,
      &::after {
        right: $arrowPadding;
        transform-origin: right;
      }

      span {
        right: $arrowPadding;
      }

      &.on {
        span {
          animation: nextArrow 0.5s 1;
        }

        @keyframes nextArrow {
          0% {
            right: 25px;
            width: 20px;
            opacity: 1;
          }
          70% {
            right: -30px;
            width: 50px;
            opacity: 0;
          }
          71% {
            right: 100px;
            width: 120px;
            opacity: 0;
          }
          100% {
            right: 25px;
            width: 20px;
            opacity: 1;
          }
        }
      }
    }
  }
}
