@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  height: 100vh;
  min-width: 1400px;
  min-height: 760px;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
main .sky_cl1 {
  position: absolute;
  top: -100px;
  left: 0;
  opacity: 0;
  animation: cloud 40s linear 20s infinite;
}
main .sky_cl2 {
  position: absolute;
  top: -50px;
  left: 0;
  opacity: 0;
  animation: cloud 40s linear 0s infinite;
}
main.dark_text header h1,
main.dark_text header #gnb a,
main.dark_text article p,
main.dark_text article em,
main.dark_text figure .screen,
main.dark_text figure .screen em {
  color: #555;
}
main.morning {
  background-image: url("../img/bg_morning.jpg");
}
main.morning figure {
  background-image: url("../img/phone_morning.png");
}
main.afternoon {
  background-image: url("../img/bg_afternoon.jpg");
}
main.afternoon figure {
  background-image: url("../img/phone_afternoon.png");
}
main.evening {
  background-image: url("../img/bg_evening.jpg");
}
main.evening figure {
  background-image: url("../img/phone_evening.png");
}
main.night {
  background-image: url("../img/bg_night.jpg");
}
main.night figure {
  background-image: url("../img/phone_night.png");
}
main header {
  width: 90vw;
  position: absolute;
  top: 5vh;
  left: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main header h1 {
  font: bold 30px/1 "orbitron";
  color: #fff;
}
main header #gnb {
  display: flex;
  gap: 80px;
}
main header #gnb a {
  font: bold 14px/1 "arial";
  color: #fff;
}
main article {
  width: 40vw;
  position: absolute;
  top: 40vh;
  left: 5vw;
}
main article p {
  /*font-size: 4vw;
  line-height: 1;*/
  font: 4vw/1 "orbitron";
  color: #fff;
  margin-bottom: 20px;
}
main article strong {
  opacity: 0.7;
}
main article em {
  font: bold 14px/1.2 "arial";
  color: #ffffff;
  letter-spacing: 2px;
}
main figure {
  width: 1200px;
  height: 800px;
  position: absolute;
  right: -5vw;
  bottom: -5vh;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}
main figure .screen {
  width: 532px;
  height: 299px;
  position: absolute;
  top: 100px;
  left: 133px;
  font: 60px/299px "orbitron";
  color: #fff;
  text-align: center;
  overflow: hidden;
}
main figure .cl1 {
  width: 600px;
  position: absolute;
  top: 30px;
  left: 0;
  opacity: 0;
  animation: cloud 40s linear 20s infinite;
}
main figure .cl2 {
  width: 700px;
  position: absolute;
  top: 20px;
  left: 0;
  opacity: 0;
  animation: cloud 40s linear 0s infinite;
}
main figure em {
  position: absolute;
  top: 90px;
  left: 80px;
  font: 20px/1 "orbitron";
  color: #fff;
  opacity: 0;
}
main figure em.on {
  opacity: 0.8;
}
main figure span {
  display: inline-block;
  width: 100px;
}

@keyframes cloud {
  0% {
    opacity: 0;
    left: -50%;
  }
  5% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.5; /* 얘가 있어야 5 ~ 95% 구간의 opacity 가 0.5 로 유지가 된다 */
  }
  100% {
    left: 80%;
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
