@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@import 'reset';

$times: morning, afternoon, evening, night;

main {
  width: 100%;
  height: 100vh;
  min-width: 1400px;
  min-height: 760px;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .sky_cl1 {
    position: absolute;
    top: -100px;
    left: 0;
    opacity: 0;
    animation: cloud 40s linear 20s infinite;
  }

  .sky_cl2 {
    position: absolute;
    top: -50px;
    left: 0;
    opacity: 0;
    animation: cloud 40s linear 0s infinite;
  }

  &.dark_text {
    header h1,
    header #gnb a,
    article p,
    article em,
    figure .screen,
    figure .screen em {
      color: #555;
    }
  }

  @each $time in $times {
    &.#{$time} {
      background-image: url('../img/bg_#{$time}.jpg');

      figure {
        background-image: url('../img/phone_#{$time}.png');
      }
    }
  }

  header {
    width: 90vw;
    position: absolute;
    top: 5vh;
    left: 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font: bold 30px/1 'orbitron';
      color: #fff;
    }

    #gnb {
      display: flex;
      gap: 80px;

      a {
        font: bold 14px/1 'arial';
        color: #fff;
      }
    }
  }

  article {
    width: 40vw;
    position: absolute;
    top: 40vh;
    left: 5vw;

    p {
      /*font-size: 4vw;
      line-height: 1;*/
      // 축약형
      font: 4vw/1 'orbitron';
      color: #fff;
      margin-bottom: 20px;
    }

    strong {
      opacity: 0.7;
    }

    em {
      font: bold 14px/1.2 'arial';
      color: #ffffff;
      letter-spacing: 2px;
    }
  }

  figure {
    width: 1200px;
    height: 800px;
    position: absolute;
    right: -5vw;
    bottom: -5vh;
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;

    .screen {
      width: 532px;
      height: 299px;
      position: absolute;
      top: 100px;
      left: 133px;
      font: 60px/299px 'orbitron';
      color: #fff;
      text-align: center;
      overflow: hidden;
    }

    .cl1 {
      width: 600px;
      position: absolute;
      top: 30px;
      left: 0;
      opacity: 0;
      animation: cloud 40s linear 20s infinite;
    }

    .cl2 {
      width: 700px;
      position: absolute;
      top: 20px;
      left: 0;
      opacity: 0;
      animation: cloud 40s linear 0s infinite;
    }

    em {
      position: absolute;
      top: 90px;
      left: 80px;
      font: 20px/1 'orbitron';
      color: #fff;
      opacity: 0;

      &.on {
        opacity: 0.8;
      }
    }

    span {
      display: inline-block;
      width: 100px;
    }
  }
}

@keyframes cloud {
  0% {
    opacity: 0;
    left: -50%;
  }
  5% {
    opacity: 0.5;
  }
  95% {
    opacity: 0.5; /* 얘가 있어야 5 ~ 95% 구간의 opacity 가 0.5 로 유지가 된다 */
  }
  100% {
    left: 80%;
    opacity: 0;
  }

}
