@import "reset";

$distance: 3000px;
$sceneNum: 5;

body {
  height: $distance * $sceneNum;
}

section {
  width: 1200px;
  height: 700px;
  border: 1px solid red;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -600px;
  margin-top: -350px;
  perspective: 2000px;

  article {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: blue;
    font-size: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .3;
    z-index: 0;

    &.on {
      opacity: 1;
      z-index: 1;
    }

    a {
      color: #fff;
    }

    @for $i from 0 to 5 {
      &:nth-of-type(#{$i + 1}) {
        transform: translateZ(calc((-1) * $distance * $i));
      }
    }
  }
}

.scrollNavi {
  position: fixed;
  top: 50%;
  right: 5vw;
  transform: translateY(-50%);

  li {
    font-size: 20px;
    cursor: pointer;
    margin: 20px 0;
    color: #888;

    &.on {
      font-weight: bold;
      color: #111;
    }
  }
}
