#mainView {
  aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ddd;
    z-index: 3;

    .close {
      cursor: pointer;
      position: absolute;
      top: 50px;
      right: 50px;
    }
  }

}
