@import 'reset', 'default', 'detail';


@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

#mainView {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;

  .mainView__article {
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-right: 1px solid #ddd;
    cursor: pointer;
    transition: .5s;

    &:last-child {
      border-right: none;
    }

    &:hover {
      flex: 1.5;

      .pic {
        opacity: .5;
      }
    }

    .pic {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 1s;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .txt {
      display: flex;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;

      h2 {
        font: normal 20px/1 'cinzel decorative';
        color: #555;
      }
    }
  }
}
